.nav-bar {
  height: 66px;
  background-color: #1b1b1b;
}

.logo-style {
  padding-left: 21px;
  width: 80px;
  height: 70px;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 700;
  line-height: 14.94px;
  letter-spacing: -0.05em;
  background-image: linear-gradient(270deg, #ffd25f 0.13%, #ff5c01 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-home-svg {
  margin-left: 139px;
  margin-right: 25px;
}

.nav-home {
  margin-left: 24px;
  margin-bottom: 22px; /* 76-12-18-24 = 22 */
  width: 34px;
  height: 18px;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.nav-tags-svg {
  margin-left: 25px;
}

.nav-status-dot {
  position: absolute;
  top: 155px;
  margin-left: 49px;
  width: 7px;
  height: 7px;
  background-color: #00d1ff;
  border: 1px solid #1b1b1b;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .nav-bar {
    height: 100vh;
  }

  .logo-style {
    padding-left: 0px;
    height: 88px;
  }

  .nav-home-svg {
    margin-top: 7px;
    margin-right: 0px;
    margin-left: 28px;
  }

  .nav-tags-svg {
    margin-right: 0px;
    margin-left: 28px;
  }
}
