.profile-switch {
  margin-top: 32px;
}

.profile-followers,
.profile-following {
  padding-bottom: 9px;
  width: 187px;
  height: 33px;
  opacity: 87%;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: #929292;
}

.profile-following {
  width: 188px;
}

.profile-followers.active,
.profile-following.active {
  color: #ffffff;
  font-weight: 700;
  opacity: 100%;
  border-bottom: 2px solid #ffffff;
}
