.placeholder1 {
  display: none;
  margin-top: 29px;
  margin-bottom: 2px;
  width: 725px;
  height: 1px;
  opacity: 10%;
  border: none;
  background-color: #ffffff;
}

.placeholder2 {
  height: 28px;
}

.placeholder3 {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 335px;
  height: 1px;
  opacity: 10%;
  border: none;
  background-color: #ffffff;
}

@media (min-height: 630px) {
  .placeholder3 {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

@media (min-height: 810px) {
  .placeholder3 {
    margin-top: 218px;
    margin-bottom: 80px;
  }
}

.search-button {
  width: 335px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #121212;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  border: none;
  transition:
    background-color 0.3s,
    width 0.3s,
    border-color 0.3s;
}

.search-button:hover {
  background-color: #121212;
  color: #ffffff;
  border: 1px solid #ffffff;
}

@media (min-width: 900px) {
  .placeholder1 {
    display: block;
  }

  .placeholder3 {
    margin-top: 30px;
    margin-bottom: 335px;
    width: 725px;
  }

  .search-button {
    width: 343px;
  }
}
