@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
  color: #ffffff;
}

.logo-style {
  width: 80px;
  height: 88px;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 700;
  line-height: 14.94px;
  letter-spacing: -0.05em;
  background-image: linear-gradient(270deg, #ffd25f 0.13%, #ff5c01 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
